<div class="container acessibilidade">
	<br>	
	<div class="acessibilidade">
		<h2 class="acessibilidade">ATENDENTE (PCD) (v1652785)</h2>
		<section class="acessibilidade">
			<p class="acessibilidade">Código da vaga:		v1652785</p>
			<p class="acessibilidade">Nível hierárquico:	Auxiliar/Operacional</p>
			<p class="acessibilidade">Local:				Belo Horizonte / MG / BR </p>
		</section>
		<br>
		<h3 class="acessibilidade">Requisitos:</h3>
		<br>
		<p class="acessibilidade">Necessário experiência com atendimento ao público e escolaridade a partir do primeiro ano do ensino médio. </p>
		<br>
		<p class="acessibilidade">Salário: R$ 1300 + Benefícios.</p>
		<br>
		<p class="acessibilidade">Necessário disponibilidade de horários para atuar aos finais de semana. </p>
		<br>
	</div>
	<p class="acessibilidade"><a class="btn btn-success"  href="#" role="button" routerLink="/cadastro/cadastroVaga">ME CANDIDATAR NESTA VAGA</a></p>
</div>
