<div class="jumbotron acessibilidade " style="max-height:80%;height:400px">
    <div class="row">
        <div class="col-md-4 acessibilidade" >
			<h2 class="acessibilidade">Programa Aprendiz</h2>
			<p class="acessibilidade" style="max-height:100px; overflow: hidden">Para concorrer a essa vaga, você deve ter entre 16 e 22 anos e estar estudando (Fundamental, Médio ou Superior). Procuramos jovens com muita disposição e vontade de aprender!</p>
			<p class="acessibilidade"><a class="btn btn-primary btn-lg acessibilidade" href="#" role="button" routerLink="/detalhes">Saiba mais!</a></p>
		</div>
		<div class="col-md-4 acessibilidade">
			<h2 class="acessibilidade">Programa de Trainess</h2>
			<p class="acessibilidade" style="max-height:100px; overflow: hidden">O programa oferece aos jovens talentos um projeto de desenvolvimento de carreira com oportunidade de vivência em um ambiente dinâmico e multicultural, que proporciona amplo aprendizado e rápido crescimento.</p>
			<p class="acessibilidade"><a class="btn btn-primary btn-lg acessibilidade" href="#" role="button" routerLink="/detalhes">Saiba mais!</a></p>
		</div>
		<div class="col-md-4 acessibilidade">
			<h2 class="acessibilidade">Auxiliar de Loja</h2>
			<p class="acessibilidade" style="max-height:100px; overflow: hidden">Requisitos: Necessário ensino fundamental, ter disponibilidade para trabalhar em escala 6x1 e ter fácil acesso aos Shoppings  Salário: A combinar, dentro da média de mercado, de acordo com contratante.////Salário: A combinar, dentro da média de mercado, de acordo com contratante.</p>
			<p class="acessibilidade"><a class="btn btn-primary btn-lg acessibilidade" href="#" role="button" routerLink="/detalhes">Saiba mais!</a></p>
		</div>
		<div class="col-md-4 acessibilidade">
			<h2 class="acessibilidade">Atendimento</h2>
			<p class="acessibilidade" style="max-height:100px; overflow: hidden">Requisitos: Necessário experiência com atendimento ao público e escolaridade a partir do primeiro ano do ensino médio.    Salário: R$ 1300 + Benefícios.</p>
			<p class="acessibilidade"><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/detalhes">Saiba mais!</a></p>
		</div>
    </div>
</div>
